.secao-limitada{
    width: 65%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width:375px) and (max-width:1024px){
    .secao-limitada{
        width: 100%;
    }
}