.container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-logo{
    width: 90px;
    height: 80px;
}

.tema-claro{
    background-color: white;
    color: black;
}

.tema-escuro{
    background-color: #242424;
    color: white;
}

.img{
    width: 25px;
    height: 25px;
}

header button{
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: #B2987D 1px solid;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
    border-radius: 30px;
}

.img-banner{
    height: 40vh;
    width: 100%;
    background-image: url("/public/assets/banner-barbearia.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.secao-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Poppis';
    text-align: center;
}

.conteudo .primeiro-paragrafo{
    font-weight: bold;
}

.conteudo .assinatura{
    color: #B2987D;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    font-size: 50px;
    padding: 20px;
}

@media screen and (max-width:375px){
    .secao-topo{
        padding: 0 20px;
    }

    .secao-conteudo{
        width:80%;
    }
    
}

@media screen and (min-width:376px) and (max-width:1024px){
    .secao-topo{
        padding: 0 20px;
    }

    .secao-conteudo{
        width:95%;
    }
}